/* CSS import */
@import url("css/font-awesome.css");
@import url("css/animate.min.css");

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#skrollr-body {
    background: #fff;
}

html.skrollr {
    margin-top: 0 !important;
}


body{
  font:{
    size: rem(14);
    family: "Lato", Helvetica, Arial, sans-serif;
  }
  color:$brand-text;
  margin: 0;
  background-color: $brand-white;
  overflow-x: hidden;
  ul{
    -webkit-padding-start:0 !important;
    -webkit-padding-end:0;
  }
  a{
    color: $brand-primary;
    &:hover{
      color: shade($brand-primary, 90%);
    }
  }

  &.admin-bar #mobile-menu {
      top: 32px;
  }

  &.admin-bar.logged-in #header.fixed,
  &.logged-in #header{
    top:rem(32);
  }

  &.menu-opened{
    overflow: hidden;
    header#header{
      right: rem(280);
      left: rem(-280);
    }
    #close-menu{
      opacity: 1;
      display: block;
    }
  }


}





.clearfix {
    display: table;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.testimonial{
  margin-bottom: rem(50);
  img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 9.375em;
  }
  ul{
    -webkit-padding-start:0;
    -webkit-margin-after:0;
    -webkit-margin-before:0;
    li{
      list-style-type: none;
    }
  }
  h2{
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    -webkit-margin-after:0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.85em;
    line-height: 1.5em;
    text-align: center;
    color: $brand-primary;
    a{
      font-size: 0.85em;
      text-transform: capitalize;
      font-style: italic;
      display: block;
      color:$brand-secondary;
    }
  }
  p{
    text-align: justify;
    font-size: rem(13);
    background-color: $gray-lighter;
    border-radius: 5px;
    padding: 10px;
    @include media-breakpoint-only(sm){
      padding: 15px 20px;
      margin-top: 25px;
    }
  }

  .view-all
  {
    float: right;
    margin-top: 8px;
    a{
      color: $brand-secondary;
      text-decoration: none;
      font-weight: lighter;
      border: 1px solid;
      padding: 3px 8px;
      border-radius: 12px;
      @include media-breakpoint-only(xs){
        padding: 2px 6px;
        border-radius: 10px;
      }
      &:hover{
        color: $gray-lighter;
        background-color: $brand-secondary;
      }
    }
  }
}



.videos{
  margin: 10px 0;
  ul{
    list-style-type: none;
  }

  .item-list{
    ul{
      &.pager{
        @include media-breakpoint-between(xs, sm){
          margin-top: -30px;
        }
        li > {
          a, span{
            color: $brand-secondary;
            display: inline-block;
            padding: 0px 10px;
            font-weight: lighter;
            border: 1px solid $brand-secondary;
            border-radius: rem(12);
            &:hover{
              background-color: $brand-secondary;
              color: $gray-lighter;
            }
          }
        }
      }
    }
  }
  .player iframe {
      width: 100%;
      height: 280px;
      @include media-breakpoint-between(xs, sm){
        height: 260px;
        margin-bottom: 25px;
      }

      @include media-breakpoint-only(md){
        height: 220px;
      }
  }
}

.pager{
  margin-bottom: 20px;

}


 h4{
   font-size: rem(27);
   &.section-title{
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.4;
    color: #000000;
    &:before{
      display: block;
      content: "";
      width: 25px;
      height: 1.2px;
      left: 0;
      top: 0;
      background: $brand-secondary;
    }
  }
 }
